@import '~styles/theme/_theme.scss';

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.searchRaw {
  width: 100%;
  background-color: var(--variable-color-background);
  color: var(--variable-color-text-main);
  border: none;
  padding: 12px 8px 12px 40px;
  border-radius: 8px;
  min-height: 48px;
}

.searchIcon {
  position: absolute;
  margin-left: 8px;
}

.closeIcon {
  position: absolute;
  cursor: pointer;
  right: 0;
  margin-right: 8px;
}
