@import '~styles/theme/_theme.scss';

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 6 * $variable-spacing;
}

.rowOne {
  height: 24px;
  display: flex;
  width: 100%;
  margin-top: 0;
  align-items: center;
  justify-content: space-between;
}

.rowTwo {
  display: flex;
  width: 100%;
  margin-top: 3 * $variable-spacing;
  justify-content: space-between;
}

.sliderHolder {
  width: 100%;
  margin-left: 9px;
  margin-right: 8 * $variable-spacing;
}

.inputHolder {

  :global(.MuiInputBase-root) {
    width: 116px;
    padding-right: 0;

    input {
      width: 45%;
    }
  }

  :global(.MuiInputAdornment-root) {
    margin-top: 4px;
    margin-left: 0;
  }
}

@media screen and ($variable-breakpoint-max-xs) {

  .root {
    justify-content: space-between;
  }

  .sliderHolder {
    display: none;
  }
}

@media screen and ($variable-breakpoint-height-max-md) {

  .sliderHolder {
    margin-bottom: 4px;
  }

  .root {
    margin-top: 4 * $variable-spacing;
  }
}
