@import '~styles/theme/_theme.scss';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;

  @include media-tablet {
    padding: 0 $variable-spacing * 3;
  }
}

.container {
  display: flex;
  border-radius: $variable-border-radius;
  overflow-x: auto;
  margin: auto;
  max-width: 1450px;
  width: 100%;

  @include media-tablet {
    flex-direction: column;
    gap: 16px;
  }
}

.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 0;
}
