.pnlPositive {
  color: rgba(var(--variable-color-background-buy-rgb), 1) !important;
}

.pnlNegative {
  color: rgba(var(--variable-color-background-sell-rgb), 1) !important;
}

.actionIcon {
  color: var(--variable-color-primary);
}

.tpSlCell {
  display: flex;
  justify-items: flex-end;
}
