@import '~styles/theme/_theme.scss';

.dialogContent {
  display: flex;
  flex-direction: column;
  gap: 4 * $variable-spacing;
  padding: 8 * $variable-spacing 8 * $variable-spacing;
}

.title {
  text-align: center;
}

.infoBlock {
  display: flex;
}

.infoLine {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  line-height: 1.3;
  padding: 2 * $variable-spacing 0;
}

.infoTitle {
  color: var(--variable-color-text-label-two);
}

.address {
  word-break: break-all;
  text-align: right;
}

.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 0;
}

.actionButtonsContainer {
  display: flex;
  justify-content: center;
  gap: 6 * $variable-spacing;
}

.closeButtonsContainer {
  display: flex;
  justify-content: center;
  gap: 6 * $variable-spacing;
}

.infoText {
  margin-top: -4 * $variable-spacing;
  color: var(--variable-color-text-label-two);
}

.modalButton {
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 48px;
  padding-left: 3 * $variable-spacing;
  padding-right: 3 * $variable-spacing;
  border-radius: $variable-spacing;
  gap: 3 * $variable-spacing;
}

.closeButton {
  width: 150px;
}

.actionButton {
  width: 220px;
}

@media screen and ($variable-breakpoint-max-xs) {

  .actionButtonsContainer {
    flex-direction: column;
    align-items: stretch;
    gap: 4 * $variable-spacing;
  }

  .actionButton,
  .closeButton {
    width: 100%;
    height: 50px;
  }
}

@media screen and ($variable-breakpoint-max-md) {

  .modalButtonText {
    font-size: 14px;
  }
}
