@import '~styles/theme/_theme.scss';

.root {
  width: 100%;
  border-radius: $variable-border-radius;
  background-color: var(--variable-color-background);
}

.bottomCard {
  background-color: var(--variable-color-background);
}

.selectors {
  display: flex;
  flex-direction: column;
  gap: $variable-spacing * 6;
  padding-bottom: $variable-spacing * 6;
}

@media screen and ($variable-breakpoint-max-lg) {

  .bottomCard {
    padding-top: 8px;
  }

  .card {
    padding-top: $variable-spacing * 2;
    padding-bottom: $variable-spacing * 2;
  }
}

@media screen and ($variable-breakpoint-height-max-md) and ($variable-breakpoint-max-xs),
  screen and ($variable-breakpoint-height-max-md) and ($variable-breakpoint-min-lg) {

  .bottomCard {
    padding-top: $variable-spacing;
  }

  .card {
    padding-top: $variable-spacing;
    padding-bottom: $variable-spacing;
  }
}
