@import '~styles/theme/_theme.scss';

.root {
  padding: 10 * $variable-spacing 8 * $variable-spacing;
  flex: 1;
  background-color: var(--variable-color-background-items);
  border-radius: 0 $variable-border-radius $variable-border-radius 0;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: $variable-spacing * 4;

  .actionButton {
    width: 170px;
  }
}

.divider {
  margin: 6 * $variable-spacing 0;
}

.dataTitle {
  margin-bottom: $variable-spacing;
  color: var(--variable-color-text-main);
}

.dataValue {
  color: var(--variable-color-text-main);
  font-weight: 600;
}

@media screen and ($variable-breakpoint-max-md) {

  .root {
    border-radius: 0 0 $variable-border-radius $variable-border-radius;
  }
}

@media screen and ($variable-breakpoint-max-xs) {

  .buttonContainer {
    display: block;

    .actionButton {
      width: 100%;
    }
  }
}
