@import '~styles/theme/_theme.scss';

.loaderWrapper {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {

  :global(.MuiPaper-root) {
    background-color: var(--variable-color-background);
    color: var(--variable-color-text-main);
  }

  :global(.MuiDialog-paper) {
    border-radius: $variable-border-radius;
  }
}
