@import '~styles/theme/_theme.scss';

.rootBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $variable-spacing * 5 0;
}

.footerSocial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.iconsHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.footerLink {
  color: var(--variable-color-primary);
  cursor: pointer;
  margin: 1rem 0;

  &:hover {
    color: var(--variable-color-primary);
    text-decoration: none;
  }
}

.footerSocialLogo {
  color: var(--variable-color-primary);
  transition: color 300ms linear;
  text-decoration: none;
  margin: 1rem 0;
  cursor: pointer;

  &:hover {
    color: var(--variable-color-text-main);
    text-decoration: none;
  }

  svg {
    height: 24px;
    width: 24px;
  }
}

.footerLogo {
  width: 40px;
  height: 24px;
}

.copyrightHolder {
  text-align: center;
  padding-bottom: $variable-spacing * 4;
  margin: 1rem 0;
}

@media screen and ($variable-breakpoint-max-sm) {

  .rootBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footerLogoWrapper {
    margin: 0;
  }

  .footerLogo {
    display: block;
    text-align: center;
    margin-top: 24px;
  }
}
