@import '~styles/theme/_theme.scss';

.inputHolder {
  display: flex;
  justify-content: center;
}

.dialogContent {
  display: flex;
  flex-direction: column;
  gap: 8 * $variable-spacing;
  padding: 10 * $variable-spacing 8 * $variable-spacing;
}

.title {
  text-align: center;
}

.closeButton {
  width: 150px;
}

.actionButton {
  width: 150px;
}

.buttonsBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $variable-spacing * 2;
}

@media screen and ($variable-breakpoint-max-xs) {

  .actionButton,
  .closeButton {
    width: 100%;
    height: 50px;
  }
}
